/chemgen-loopback/node_modules
/chemgen-vars
chemgen-loopback/node_modules
Divi-child/chemgen-client/node_modules
Divi-child/chemgen-client/dist
Divi-child/chemgen-client/.tmp
Divi-child/chemgen-client/.sass-cache
Divi-child/chemgen-client/bower_components
/db_backups
db_backups
plate_images
wordpress_plugins
arrayscan_images
