<h1>Screen Input Form</h1>

<div>
    <div>
        Input screen details
    </div>

    <br>

    <form ng-submit="screenInput.onSubmit()" novalidate>
        <formly-form model="screenInput.model" fields="screenInput.fields" form="screenInput.form" options="screenInput.options">
        <button type="submit" ng-disabled="screenInput.form.$invalid"
            ng-click="screenInput.onSubmit(screenInput.model)"
            class="btn btn-primary submit-button"
            ng-disabled="screenInput.form.$invalid">
            Submit
        </button>
        </formly-form>
    </form>

    <br>
</div>
