<h1>Screen Input Form</h1>

<div>
    <div>
        Input screen details
    </div>

    <br>

    <form ng-submit="formly.onSubmit()" novalidate>
        <formly-form model="formly.model" fields="formly.fields" form="formly.form" options="formly.options">
        <button type="submit" ng-disabled="formly.form.$invalid" ng-click="formly.onSubmit(formly.model)" class="btn btn-primary submit-button" ng-disabled="formly.form.$invalid">Submit</button>
        </formly-form>
    </form>

    <br>

    <h2>Form Data</h2>
    <pre>{{formly.model | json}}</pre>
</div>
